$ubuntu: "Ubuntu", sans-serif;
$bila: white;
$cerna-light: #202020;
$cerna: #181818;

@mixin footer_column {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/assets/images/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $bila;
  font-family: $ubuntu;
}

/*TEXTS OPTIONS*/
h1 {
  letter-spacing: 1px;
  font-size: 60px;
  font-weight: bold;
  color: #f89f02;

  #SB {
    color: #d97002;
  }

  &:hover {
    cursor: default;
  }
}

h2 {
  font-size: 25px;
  font-weight: bold;
  color: #f81502;

  &:hover {
    cursor: default;
  }
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: #d93202;

  &:hover {
    cursor: default;
  }
}

p {
  #citace {
    font-style: italic;
  }

  font-size: 25px;
  color: #f0610f;

  &:hover {
    cursor: default;
  }
}

a {
  transition: 0.25s;
  text-decoration: none;
  color: #d93202;

  &:hover {
    transition: 0.25s;
    color: #a82704;
  }
}

/*CONTAINERS OPTIONS*/
.nav_container {
  margin: auto;
  width: 1700px;
}

.container {
  margin: auto;
  width: 1400px;
}

.uvod_container {
  margin: auto;
  width: 550px;
}

.interest_container {
  margin: auto;
  padding: 0px 30px;
}

/*INDEX*/

/*NAVIGACE*/
header {
  nav {
    height: 85px;
    margin-top: 20px;
    font-weight: 500;
    background-color: $cerna-light;
    border-radius: 20px;
    filter: drop-shadow(0px 5px 15px black);
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      list-style: none;

      li {
        display: inline;
        letter-spacing: 1px;
        padding: 20px 100px;
        font-size: 20px;
      }
    }

    .language-selector {
      padding: 20px 50px;

      img {
        border-radius: 50%;
        width: 50px;
        filter: drop-shadow(0px 0px 15px black);
      }
    }

    .burger {
      display: none;
    }
  }
}

/*VÝBĚR JAZYKU*/
.language-selector {
  padding: 20px 50px;
  img {
    width: 50px;
    filter: drop-shadow(0px 0px 15px black);
    transition: 0.25s;

    &:hover {
      transition: 0.25s;
      width: 60px;
    }
  }
}

/*ÚVOD*/
.uvod {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 25px black;
  border-radius: 20px;
  margin-bottom: 75px;

  .uvod_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $cerna;
    border-radius: 0 0 0 20px;
    width: 700px;
    height: 500px;

    hr {
      background-color: #d93202;
      height: 2px;
      width: 550px;
      border: none;
    }

    h1 {
      margin-bottom: 20px;
    }

    p {
      margin-top: 20px;
    }
  }

  .uvod_fotka {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 700px;
    background-size: 300%;
    background-image: url("/assets/images/uvod\ background.webp");
    border-radius: 0 0 20px 0;
    animation: uvod_pozadi 300s infinite ease;

    img {
      border-radius: 50%;
      width: 350px;
      filter: drop-shadow(0px 0px 15px black);
      transition: 0.25s;

      &:hover {
        transition: 0.25s;
        width: 370px;
        cursor: pointer;
      }
    }
  }
}

/*CHC*/
.chc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 75px;

  .chc_logo {
    img {
      width: 300px;
    }
  }

  .chc_text {
    text-align: right;
  }
}

/*GITHUB*/
.animace {
  background-image: url("/assets/images/uvod\ background.webp");
  border-radius: 20px;
  background-size: 200%;
  animation: uvod_pozadi 300s infinite ease;
}

.github {
  display: flex;
  background-image: url("/assets/images/github\ background.webp");
  background-size: cover;
  width: 1400px;
  height: 600px;
  border-radius: 20px;
  margin-bottom: 75px;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0px 0px 25px black;

  .github_text {
    padding: 0px 50px;
    text-align: right;
  }
}

/*FOOTER*/
.pata {
  background-color: $cerna-light;
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 15px black);
  justify-content: space-around;
  align-items: center;

  .socky {
    justify-content: flex-start;
    align-items: flex-start;

    .socky_div {
      text-align: center;
    }
  }

  .odkazy {
    .footer_text {
      text-align: right;
    }
  }

  h2 {
    margin: 20px 0px;
  }

  p {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
  }

  .ikona {
    width: 40px;
    padding: 0px 10px;
    transition: 0.25s;

    &:hover {
      transition: 0.25s;
      filter: opacity(50%);
    }
  }

  .vl {
    width: 2px;
    height: 100px;
    background-color: $cerna;
  }

  .copyright2 {
    display: none;
  }
}

/*O MNĚ*/

/*SUMMARIZE*/
.summarize {
  margin-top: 20px;
  margin-bottom: 10px;

  .zivot {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 500px;
    }

    p {
      width: 500px;
      text-align: left;
    }
  }
}

/*MOJE ZÁJMY - BANNERY*/
.interest-banners {
  transition: 0.25s;
  margin-top: 30px;
  margin-bottom: 30px;

  .banners {
    display: flex;
    justify-content: space-between;

    .banner {
      margin-top: 20px;
      margin-bottom: 20px;
      background-image: url("/assets/images/banner\ background.png");
      border-radius: 20px;
      height: 700px;
      width: 400px;
      transition: 0.25s;
      filter: drop-shadow(0px 0px 15px black);
      cursor: default;

      &:hover {
        margin-top: 0px;
        margin-bottom: 40px;
        transition: 0.25s;
        animation: banner_lightning 3s ease infinite;
      }
      .banner-content {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;

        h3 {
          text-align: center;
          background-color: #181818;
          padding: 10px 3px;
          border-radius: 10px;
          filter: drop-shadow(0px 0px 15px black);
        }

        .banner-obrazek {
          text-align: center;

          img {
            padding: 0px 0px 40px 0px;
            width: 200px;
            filter: drop-shadow(0px 0px 15px black);
          }
        }

        p {
          padding-bottom: 30px;
        }

        .button {
          text-align: center;

          .learn-button {
            text-align: center;
            color: $bila;
            font-weight: bold;
            background-color: #f81502;
            padding: 15px 20px;
            font-size: 25px;
            border-radius: 50px;
            filter: drop-shadow(0px 0px 15px black);

            &:hover {
              background-color: #ab0e01;
              color: #b2b2b2;
            }
          }
        }
      }
    }
  }
}

/*ZÁJMY*/
.interest {
  background-color: #181818;
  margin-top: 20px;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 15px black);

  .back {
    padding: 10px 30px;

    p {
      display: inline-flex;
      align-items: center;
      color: $bila;
      font-size: 25px;
      background-color: #f81502;
      padding: 10px 15px;
      border-radius: 50px;
      transition: 0.25s;
      filter: drop-shadow(0px 0px 15px black);

      &:hover {
        background-color: #ab0e01;
        color: #b2b2b2;
        transition: 0.25s;
        cursor: pointer;

        img {
          opacity: 60%;
          transition: 0.25s;
        }
      }

      img {
        transition: 0.25s;
        width: 32px;
        padding-right: 10px;
      }
    }
  }

  .interest_container {
    h1 {
      margin: 0;
    }

    .interest-text {
      margin: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .vl {
        display: none;
      }

      img {
        width: 500px;
        filter: drop-shadow(0px 0px 15px black);
      }

      p {
        width: 500px;

        a {
          font-size: 25px;
          color: #f0610f;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

/*MOJE PROJEKTY*/
.my-projects {
  margin-top: 20px;
  margin-bottom: 20px;

  h1 {
    margin: 0px 0px 30px 0px;
  }

  .web-cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .card-element {
      text-align: center;
      margin-bottom: 20px;

      .web-card {
        border-radius: 20px;
        width: 400px;
        height: 300px;
        transition: 0.25s;
        filter: drop-shadow(0px 0px 15px black);

        p {
          font-weight: bold;
          font-size: 30px;
          filter: drop-shadow(0px 0px 15px black);
          background-color: #181818;
          padding: 10px 10px;
          border-radius: 10px;
          transition: 0.25s;

          &:hover {
            color: #d93202;
            transition: 0.25s;
          }
        }

        &:hover {
          animation: banner_lightning 3s infinite ease;
          transition: 0.25s;
        }

        .blur {
          background-color: rgba(63, 63, 63, 0);
          width: 400px;
          height: 300px;
          border-radius: 20px;
          transition: 0.25s;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0%;

          &:hover {
            background-color: rgba(63, 63, 63, 0.15);
            backdrop-filter: blur(50px);
            transition: 0.25s;
            opacity: 100%;
          }

          img {
            width: 150px;
            filter: drop-shadow(0px 0px 15px black);
          }
        }
      }
    }

    .CHC {
      background-image: url("/assets/images/CHC\ projekt.webp");
    }

    .australia {
      background-image: url("/assets/images/Austrálie.webp");
    }

    .lorem {
      background-image: url("/assets/images/Lorem\ Ipsum.webp");
    }

    .developers {
      background-image: url("/assets/images/Vývojáři\ 1.C.webp");
    }

    .slovnik {
      background-image: url("/assets/images/Slovníček\ pojmů.webp");
    }

    .weather {
      background-image: url("/assets/images/Počasí.webp");
    }
  }
}

/*KONTAKT*/

/*FORMULÁŘ*/
.formular {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/images/form.webp");
  width: 800px;
  height: 900px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 0px 15px black);

  h1 {
    font-size: 50px;
    margin: 0px 0px 10px 0px;
    background-color: $cerna-light;
    padding: 10px 20px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 15px black);
  }

  div {
    margin: 20px 0px 20px 0px;

    label {
      font-family: $ubuntu;
      font-size: 20px;
      color: #f0610f;
      font-weight: bold;
    }

    input {
      height: 30px;
      background-color: $cerna-light;
      border: none;
      width: 500px;
      border-radius: 30px;
      margin: 10px 0px 0px 0px;
    }

    input[id="zprava"] {
      height: 200px;
    }

    input[placeholder] {
      padding: 10px 15px;
      color: #f89f02;
      font-family: $ubuntu;
      font-size: 20px;
    }
  }

  .submit-reset {
    display: inline-flex;

    input {
      width: auto;
      text-align: left;
      font-family: $ubuntu;
      font-size: 20px;
      padding: 15px 20px;
      height: auto;
      font-weight: bold;
      filter: drop-shadow(0px 0px 15px black);
      transition: 0.25s;

      &:hover {
        cursor: pointer;
        transition: 0.25s;
      }
    }

    .Submit {
      background-color: #f89f02;
      margin-right: 10px;
      color: $cerna-light;

      &:hover {
        background-color: #bb7600;
        color: $cerna;
      }
    }

    .Reset {
      background-color: #d93202;
      color: $bila;
      margin-left: 10px;

      &:hover {
        background-color: #ac2500;
        color: #c0c0c0;
      }
    }
  }

  textarea {
    color: #f89f02;
    font-family: $ubuntu;
    font-size: 20px;
    height: 200px;
    background-color: $cerna-light;
    border: none;
    width: 500px;
    border-radius: 30px;
    margin-top: 10px;
    resize: none;
  }

  textarea[placeholder] {
    padding: 10px 15px;
  }
}

.validace {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 200px;
  }

  h1 {
    text-align: center;
  }

  a {
    margin-top: 20px;
    color: $bila;
    background-color: #f81502;
    font-size: 35px;
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.25s;
    filter: drop-shadow(0px 0px 15px black);

    &:hover {
      background-color: #c01000;
      transition: 0.25s;
      color: #c0c0c0;
    }
  }
}

/*RESPONSIVITY*/
@media screen and (max-width: 1280px) /*HD*/ {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 17px;
  }

  .nav_container {
    width: 1060px;
    margin: auto;

    li {
      padding: 20px 50px;
    }
  }

  .container {
    width: 900px;

    .uvod_text {
      width: 450px;

      hr {
        width: 325px;
      }
    }

    .uvod_container {
      width: 325px;
    }

    .uvod_fotka {
      width: 450px;

      img {
        width: 280px;
      }
    }
  }
}

@media screen and (min-width: 2560px) /*2K*/ {
  .language-selector {
    img {
      width: 60px;
    }
  }

  header {
    nav {
      height: 100px;

      a {
        font-size: 30px;
      }
    }
  }

  .chc {
    .chc_logo {
      img {
        width: 500px;
      }
    }

    .chc_text {
      img {
        width: 150px;
      }
    }
  }
  .github {
    width: 2180px;
    height: 934px;
  }

  h1 {
    font-size: 100px;
  }

  .pata {
    h2 {
      font-size: 30px;
    }

    .footer_text {
      font-size: 25px;
    }

    .socky {
      .socky_div {
        .ikony {
          img {
            width: 60px;
          }
        }
      }
    }
  }

  p {
    font-size: 43px;
  }

  .nav_container {
    width: 2340px;
  }

  .uvod_container {
    width: 900px;
  }

  .container {
    width: 2180px;

    .uvod_text {
      width: 1090px;
      height: 700px;

      hr {
        width: 900px;
      }
    }

    .uvod_fotka {
      width: 1090px;
      height: 700px;

      img {
        width: 500px;
      }
    }
  }
}

@media screen and (max-width: 1440px) /*Mac*/ {
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
  }

  .nav_container {
    width: 1220px;

    nav {
      ul {
        li {
          padding: 20px 50px;
        }
      }
    }
  }

  .container {
    width: 1100px;

    .uvod_text {
      width: 550px;
      height: 400px;

      hr {
        width: 400px;
      }
    }

    .uvod_fotka {
      width: 550px;
      height: 400px;

      img {
        width: 300px;

        &:hover {
          width: 320px;
        }
      }
    }
  }

  .uvod_container {
    width: 400px;
  }

  .github {
    width: 1100px;
    height: 471px;
  }
}

@media screen and (max-width: 1170px) /*iPhone X*/ {
  /*index.html*/

  .nav_container {
    width: 360px;

    nav {
      .language-selector {
        margin: 0px 15px;
        padding: 0px;

        img {
          width: 45px;
        }
      }
      ul {
        position: absolute;
        display: flex;
        align-items: center;
        right: 15px;

        li {
          padding: 15px 15px;
          font-size: 15px;
        }
      }
    }
  }

  .uvod {
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-radius: 20px;
    margin-top: 20px;

    .uvod_text {
      width: 350px;
      height: 300px;
      border-radius: 20px 20px 0px 0px;

      h1 {
        font-size: 35px;
        margin: 20px 10px 20px;
      }

      hr {
        width: 320px;
      }

      p {
        margin: 20px;
      }
    }

    .uvod_fotka {
      width: 350px;
      height: 300px;
      border-radius: 0px 0px 20px 20px;

      img {
        width: 250px;

        &:hover {
          width: 260px;
        }
      }
    }
  }

  .chc {
    flex-direction: column;
    width: 335px;
    align-items: center;

    .chc_logo {
      margin-bottom: 60px;
    }

    .chc_text {
      text-align: center;
    }
  }
  .animace {
    width: 350px;
    background-image: url("/assets/images/uvod\ background.webp");
    background-size: cover;
    height: 600px;
    margin-bottom: 20px;

    .github {
      width: 350px;
      background-image: url("/assets/images/github\ background\ \(phone\).webp");
      height: 600px;
      justify-content: flex-end;
      display: flex;
      flex-direction: column;

      .github_text {
        text-align: left;
        margin-bottom: 15px;
      }
    }
  }
  .pata {
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;

    .vl {
      height: 2px;
      width: 320px;
    }

    p {
      font-size: 15px;
    }

    h2 {
      font-size: 18px;
    }

    .ikony {
      .ikona {
        width: 35px;
      }
    }

    .odkazy {
      text-align: center;
      .footer_text {
        text-align: center;
      }
    }

    .copyright1 {
      display: none;
    }

    .copyright2 {
      display: block;
    }
  }

  /*o mne.html*/

  .summarize {
    width: 340px;

    .zivot {
      flex-direction: column;
      align-items: center;

      img {
        width: 340px;
      }

      p {
        width: 340px;
      }
    }
  }

  .interest-banners {
    width: 350px;
    .banners {
      flex-direction: column;
      .banner {
        width: 350px;

        .banner-content {
          h3 {
            font-size: 23px;
          }

          .banner-obrazek {
            img {
              padding-bottom: 60px;
            }
          }
        }
      }
    }
  }

  .my-projects {
    width: 340px;

    h1 {
      font-size: 33px;
    }

    .web-cards {
      .card-element {
        width: 340px;

        .web-card {
          width: 340px;
          background-position: center;

          .blur {
            width: 340px;
          }
        }
      }
    }
  }

  /*interests*/

  .interest {
    width: 350px;

    .interest_container {
      h1 {
        font-size: 40px;
      }

      .interest-text {
        align-items: center;
        flex-direction: column;
        padding: 20px 0px;
        
        .vl {
          display: block;
          height: 2px;
          width: 300px;
          background-color: $cerna-light;
          margin: 35px 0px;
        }

        img {
          width: 340px;
        }

        p {
          width: 330px;

          a {
            font-size: 20px;
          }
        }
      }
    }
  }


  /*kontakt.html*/

  form {
    .formular {
      width: 350px;
      height: 850px;
      background-image: url("/assets/images/form\ \(phone\).webp");

      h1 {
        font-size: 25px;
      }

      div {
        width: 335px;

        label {
          font-size: 15px;
        }

        input {
          width: 300px;

          &[placeholder] {
            font-size: 15px;
          }
        }

        textarea {
          width: 300px;

          &[placeholder] {
            font-size: 15px;
          }
        }
      }

      .name {
        padding-top: 15px;
      }
    }
  }
}

/*KONSTRUKCE (DOČASNĚ) -->*/
.vystavba {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  flex-direction: column;

  h1 {
    margin: 0;
  }

  h2 {
    padding: 20px 20px;
    border-radius: 20px;
    background-image: linear-gradient(
      to right top,
      #f89f02,
      #f28700,
      #eb6e00,
      #e35200,
      #d93202
    );
    background-size: 300%;
    animation: uvod_pozadi 5s infinite;
  }
}
/*<--*/

/*ANIMACE*/
@keyframes uvod_pozadi {
  0% {
    background-position: left bottom;
  }
  50% {
    background-position: top right;
  }
  100% {
    background-position: left bottom;
  }
}

@keyframes banner_lightning {
  0% {
    filter: drop-shadow(0px 0px 5px #f89f02);
  }

  50% {
    filter: drop-shadow(0px 0px 15px #d97002);
  }

  100% {
    filter: drop-shadow(0px 0px 5px #f89f02);
  }
}

/*<--*/
