$ubuntu:'Ubuntu', sans-serif;
$bila: white;
$cerna-light: #202020;
$cerna: #181818;

@mixin footer_column {
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f0f0f;
    color: $bila;
    font-family: $ubuntu;
}

/*TEXTS OPTIONS*/
h1 {
    letter-spacing: 1px;
    font-size: 60px;
    font-weight: bold;
    color: #F89F02;

    #SB {
        color: #D97002;
    }
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color: #F81502;
}

p {
    #citace {
        font-style: italic;
    }

    font-size: 25px;
    color: #F0610F;
}

/*CONTAINERS OPTIONS*/
.nav_container {
    margin: auto;
    width: 1700px;
}

.container {
    margin: auto;
    width: 1400px;
}

.uvod_container {
    margin: auto;
    width: 550px;
}

/*NAVIGACE*/
nav {
    font-weight: 500;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: $cerna-light;
    border-radius: 20px;
    align-items: center;
    filter: drop-shadow(0px 5px 15px black);

    ul {
        list-style: none;

        li {
            letter-spacing: 1px;
            display: inline;
            padding: 20px 100px;
            font-size: 20px;
        }
    }

    .ja-div {
        padding: 20px 50px;

        img {
            border-radius: 50%;
            width: 50px;
            filter: drop-shadow(0px 0px 15px black);
        }
    }
}

/*ÚVOD*/
.uvod {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 25px black;
    border-radius: 20px;
    margin-bottom: 75px;

    .uvod_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $cerna;
        border-radius: 0 0 0 20px;
        width: 700px;
        height: 500px;

        hr {
            background-color: #D93202;
            height: 2px;
            width: 550px;
            border: none;
        }

        h1 {
            margin-bottom: 20px;
        }

        p {
            margin-top: 20px;
        }
    }

    .uvod_fotka {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        width: 700px;
        background-size: 300%;
        background-image: url("/assets/images/uvod_background(new).png");
        border-radius: 0 0 20px 0;
        animation: uvod_pozadi 300s infinite ease;
        
        img {
            border-radius: 50%;
            width: 350px;
            filter: drop-shadow(0px 0px 15px black);
        }
    }
}

/*CHC*/
.chc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 75px;

    .chc_logo {
        display: flex;
        
        img {
            width: 300px;
        }
    }
    
    .chc_text {
        text-align: right;
    }
}

/*GITHUB*/
.animace {
    background-image: url("/assets/images/uvod_background\(new\).png");
    border-radius: 20px;
    background-size: 200%;
    animation: uvod_pozadi 300s infinite ease;
}

.github {
    display: flex;
    background-image: url("/assets/images/github_background(new).png");
    background-size: cover;
    width: 1400px;
    height: 600px;
    border-radius: 20px;
    margin-bottom: 75px;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 0px 25px black;

    .github_text {
        padding: 0px 50px;
        text-align: right;
    }
}

/*FOOTER*/
.pata {
    background-color: $cerna-light;
    display: flex;
    margin-bottom: 20px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 15px black);
    justify-content: space-around;
    align-items: center;
    
    .adresa {
        @include footer_column();
    }

    .socky {
        justify-content: flex-start;
        align-items: flex-start;

        .socky_div {
            @include footer_column();
            text-align: center;
        }
    }

    .odkazy {
        @include footer_column();

        .footer_text {
            text-align: right;
        }
    }

    h2 {
        margin: 20px 0px;
    }

    p {
        font-size: 20px;
        margin: 0px 0px 20px 0px;
    }

    .ikona {
        width: 30px;
        padding: 0px 10px;
        transition: 0.25s;

        &:hover {
            transition: 0.25s;
            filter: opacity(50%);
        }
    }

    .vl {
        width: 2px;
        height: 100px;
        background-color: $cerna;
    }
}

a {
    transition: 0.25s;
    text-decoration: none;
    color: #D93202;

    &:hover {
        transition: 0.25s;
        color: #a82704;
    }
}

/*ANIMACE*/
@keyframes uvod_pozadi {
    0% {
        background-position: left bottom;
    }
    50% {
        background-position: top right;
    }
    100% {
        background-position: left bottom;
    }
}